<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green style | Make your life green</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <div class="login__background"></div>
      <div class="block--absolute block--position-center login__container">
        <div>
          <h2><span class="login__logo">Green</span> style</h2>
          <h1>Đăng nhập</h1>
        </div>
        <div class="login__form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="group--input">
              <label for="txtEmail">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="group--input">
              <label for="txtPassword">Password</label>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="group--input">
                <%= f.check_box :remember_me %>
                <span>Ghi nhớ đăng nhập</span>
              </div>
            <% end -%>

            <div class="group--input">
              <%= f.submit "Đăng nhập", class: 'btn btn--position-right btn--type-success' %>
              <div class="clearfloat"></div>
            </div>

            <div class="login__link">
              <%= render "users/shared/links" %>
              <%= link_to 'Về trang chủ', root_path %>
            </div>

          <% end %>
        </div>
      </div>
    </div>


  </body>
</html>
