<div class="background--color-greengray">
  <div class="block--height-large"></div>
  <div class="block--height-large"></div>
  <div class="banner__container block--margin-auto">
    <% @products.each_with_index do |product, index| %>
      <a href="<%= product_path(product.id)%>">
      <% if (index % 7 == 0) %>
        <div class="banner__item banner__item--big block--float-left">
      <% elsif (index % 7 == 1) %>
        <div class="banner__item banner__item--medium block--float-left">
      <% elsif (index % 7 == 4) %>
        <div class="banner__item banner__item--medium block--float-right">
      <% elsif (index % 7 == 5 || index % 7 == 6) %>
        <div class="banner__item banner__item--small block--float-right">
      <% else %>
        <div class="banner__item banner__item--small block--float-left">  
      <% end %>
      
        <% if product.image.url %>
          <% if product.image_identifier.include? Product::IMAGE_ONLINE_LINK %>
            <%# <%= image_tag product.image_identifier, size: "50x50" %>
            <div class="background" style="background-image: url(<%= product.image_identifier %>);"></div>
          <% else %>
            <%# <%= image_tag product.image.url, size: "50x50"  %>
            <%# bỏ asset hiện hình%>
            <div class="background" style="background-image: url(<%= image_url(product.image.url) %>);"></div>
          <% end %> <!-- end identifier  -->
        <% end %> <!-- end image url -->

        <div class="banner__info">
          <p class="banner__info__name text--ellipsis">
            <%= link_to "#{product.name}", product_path(product.id) %>
          </p>
          <p class="banner__info__price text--ellipsis">
            <%= number_to_currency(product.price) %>
          </p>
        </div>
      </div>
      </a>  
    <% end %>
    <div style="clear: both;"></div>
  </div>
  <%= paginate @products %> 
</div>
