<div class="form__contain">
<%= form_with(model: product, local: true) do |form| %>
  <div class="group--input">
    <label>Tên sản phẩm:</label>
    <%= form.text_field :name %>
  </div>
  <div class="group--input">
    <label>Dòng sản phẩm:</label>
    <% if @category %>
      <%= select_tag "category_id", options_from_collection_for_select(Category.parent_cate, :id, :name, "#{@category.category_id}") %>
    <% else %>
      <%= select_tag "category_id", options_from_collection_for_select(Category.parent_cate, :id, :name),
        :onChange => "getBrandAndTypeByCategoryId(this.options[this.selectedIndex].value)" %>
    <% end %>
  </div>
  <div class="group--input">
    <label>Hãng sản phẩm:</label>
    <% if action_name == 'new'%>
      <div id="brand_select">
        <%= form.select "brand_id", '<option></option>', 
              {prompt: '-----Chọn hãng-----'} %>
      </div> <!-- div select -->
    <% else %>
      <%= select_tag "category_id", options_from_collection_for_select(Category.sub_cate(@category.category_id), :id, :name, "#{@category.id}") %>
    <% end %>
  </div>
  <div class="group--input">
    <label>Các loại: </label>
    <div id="type_check">
    </div>
  </div>
  <div class="group--input">
    <label>Hình sản phẩm: </label>
    <% if action_name == 'new'%>
      <%= form.file_field :image_url %>
    <% elsif action_name == 'edit'%>
      <% if product.image.url %>
        <% if product.image_identifier.include? Product::IMAGE_ONLINE_LINK %>
          <%= image_tag product.image_identifier, size: "100x100" %>
        <% else %>
          <%= image_tag product.image.url, size: "100x100" %>
        <% end %>
      <% end %> <!-- end elsif new -->
      <%= form.file_field :image_url %>
    <% end %> <!-- end if new -->
  </div>

  <div class="group--input">
    <label>Giá cả (VNĐ):</label>
    <%= form.text_field :price %>
  </div>

  <div class="group--input">
    <label>Số lượng:</label>
    <%= form.number_field :quantity %>
  </div>

  <div class="group--input">
    <label>Bảo hành:</label>
    <%= form.text_field :warranty %>
  </div>

  <div class="group--input">
    <%= form.submit %>
  </div>
<% end %> <!-- end form -->
</div>