<%= form_with(model: product, local: true) do |form| %>
  <div class="field">
    Tên sản phẩm:
    <%= form.text_field :name %>
  </div>
  <div class="field">
    Dòng sản phẩm:
    <%= select_tag "category_id", options_from_collection_for_select(Category.parent_cate, :id, :name),
     :onChange => "getBrandAndTypeByCategoryId(this.options[this.selectedIndex].value)" %>
  </div>
  <div class="field">
    Hãng sản phẩm:
    <div id="brand_select">
     <%= form.select "brand_id", '<option></option>', 
          {prompt: '-----Chọn hãng-----'} %>
    </div> <!-- div select -->
  </div>
  <div class="field">
    Các loại:
    <div id="type_check">
    </div>
  </div>
  <div class="field">
    Hình sản phẩm:
    <% if action_name == 'new'%>
      <%= form.file_field :image_url %>
    <% elsif %>
      <% if product.image_url %>
        <%= image_tag product.image_url, size: "100x100" %>
      <% end %> <!-- end elsif new -->
    <% end %> <!-- end if new -->
  </div>

  <div class="field">
    Giá cả (VNĐ):
    <%= form.text_field :price %>
  </div>

  <div class="field">
    Số lượng:
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    Bảo hành:
    <%= form.text_field :warranty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> <!-- end form -->
