<div style="width: 100%">
  <!-- div search and phan trang -->
  <div style="width: 100%; float: left; margin-top: 100px; text-align: center"> <!-- search -->
    <div style="width: 50%; float: left">
      <%= form_tag("/search_by_name", method: "get") do %>
        <%= text_field_tag :search_name %>
        <%= button_tag("Tìm kiếm") %>
      <% end %>
    </div>
    <div style="width: 50%; float: left">
      <%= paginate @products %>
    </div>
  </div>

  <div style="width:100%; float: left">
    <!-- div for menu -->
    <div style="width:30%; float: left">
      <%= link_to 'Tất cả sản phẩm', products_path %> <br/>
      <% Category.where(category_id: nil).all.each do |cate| %>
        <%= link_to "#{cate.name}", show_category_product_path(cate.id) %> <br/>
        <% cate.categories.each do |sub_cate| %>
          - <%= link_to "#{sub_cate.name}", show_category_product_path(sub_cate.id) %> <br/>
        <% end %> <!-- end sub_cate -->
      <% end %> <!-- end cate -->
    </div> 
    <!-- div index product -->
    <div style="width: 50%; float: left">
      <% if !@products.empty? %>
        <!-- image -->
        <% @products.each do |product| %>
          <%= render "product_row", product: product, order_detail: @order_detail%>
        <% end %>
        <%= paginate @products %> 
      <% else %>
        <h2>Không tìm thấy kết quả nào!</h2>
      <% end %>
    </div>
    <!-- div search by type -->
    <div style="width: 20%; float: left">
      <% if @category_type %>
        <% @category_type.each do |item_type| %>
          <b><%= item_type.name %></b> <br/>
          <% item_type.types.each do |item_subtype| %> 
            <%= check_box_tag "search_type", "#{item_subtype.name}" %> <%= item_subtype.name %> <br/>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
