<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.image_url.url %>
          <% if product.image_url_identifier.include? Product::IMAGE_ONLINE_LINK %>
            <td><%= image_tag(product.image_url_identifier, size: "50x50") %></td>
          <% else %>
            <td><%= image_tag(product.image_url.url, size: "50x50") %></td>
          <% end %> <!-- end identifier  -->
        <% end %> <!-- end image url -->
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %> 
<%= link_to 'New Product', new_product_path %>
