<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag 'https://www.phongcachxanh.vn' + product.image_url, size: "50x50" %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %> 
<%= link_to 'New Product', new_product_path %>
