<p id="notice"><%= notice %></p>
<% if @product.image_url %>
  <%= image_tag 'https://www.phongcachxanh.vn' + @product.image_url, size: "200x200" %>
<% end %> <!-- end if image -->
<br/>
<%= @product.name %>
<br/>
<%= number_to_currency(@product.price) %>
<br/>

<% @pro_types.each do |ty|%>
  <% if @tmp != ty.type_id%>
    <b><%= Type.find_by_id(ty.type_id).name %>:</b> <br/>
  <% end %>
  <% @tmp = ty.type_id %>
  - <%= ty.name %> <br/>
<% end %>
Bảo hành:
<%= @product.warranty %> <br/>

<%= button_to("Mua ngay") %>

<%= link_to 'Back', products_path %>
