
<div class="block--height-large"></div>
<div class="block--height-large"></div>
<div class="product__detail__contain">
  <div class="product__image__contain">
    <% if @product.image.url %>
      <% if @product.image_identifier.include? Product::IMAGE_ONLINE_LINK %>
        <div class="background" style="background-image: url(<%= @product.image_identifier %>);"></div>
      <% else %>
        <div class="background" style="background-image: url(<%= image_url(@product.image.url) %>);"></div>
      <% end %> <!-- end identifier  -->
    <% end %> <!-- end image url -->
  </div>
  <div class="product__detail__info">
    <h1><%= @product.name %></h1>
    <h2 style="color: red"><%= number_to_currency(@product.price) %></h2>
    <br/>

    <% @pro_types.each do |t| %> <!-- pro có những type nào -->
      <% @tmp_radio = false %> <!-- mặc đinh là kiểu text (radio false) -->
      <% if @tmp != t.type_id %> <!-- nếu id ko trùng thì in ra tên super type -->
        <!-- nếu trùng thì ko in tên super type -->
        <b><%= Type.find_by_id(t.type_id).name %>:</b> <br/>
        <% @tmp_radio = true %> <!-- nếu id trùng, chắc chắc có 2 sub_type trở lên -->
        <!-- nên phải in ra kiểu radio, để trong lúc order -->
      <% end %>
      <% @tmp = t.type_id %> <!-- gán type_id cho 1 biến tạm để so sánh -->
      &nbsp;&nbsp;<%= t.name %> <br/>
    <% end %>
    <p>
      Bảo hành: <%= @product.warranty %> <br/>
    </p>
    <button class="btn btn--type-danger" onclick="addToCart(
      '<%= @product.id %>', 
      '<%= @product.image_identifier %>', 
      '<%= @product.name %>', 
      '<%= @product.warranty %>', 
      '1', 
      '<%= @product.price %>')"> 
      Mua ngay
    </button>
  </div>
</div>
<% if current_user && current_user.is_admin == true %>
  <div style="with: 100%; text-align: center">
    <%= link_to 'Sửa thông tin', edit_product_path %> | <%= link_to 'Trở về', products_path %>
  </div>
<% end %>
