<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Green style | Make your life green</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onLoad='notifyAll("<%= notice %>")'>
    <div class="menu__bar block--fixed block--height-large block--width-full">
      <div class="menu__container">
        <div class="logo_container block--height-full">
            <p class="font--size-xlarge line--height-large"><span class="logo logo--color-green">Green</span> style</p>
        </div>
        <div class="menu block--height-full">
            <div class="menu__item menu__item--color-black menu__item--color-white--hover">
              <div class="menu__item__title">
                <%= link_to "Trang chủ", root_path %>
              </div>
            </div>
          <% Category.where(category_id: nil).all.each do |cate| %>
            <div class="menu__item menu__item--color-black menu__item--color-white--hover">
              <div class="menu__item__title">
                <%= link_to "#{cate.name}", products_path %>
              </div>
              <div class="menu__item__drop">
                <% cate.categories.each do |sub_cate| %>
                  <div class="menu__item__drop__item">
                    <%= link_to "#{sub_cate.name}", products_path %>
                  </div>
                <% end %> <!-- end sub_cate -->
              </div>
            </div>
          <% end %> <!-- end cate -->
        </div>
        <div class="menu__user__container block--relative">
          <div class="menu__user__login line--height-large">
            <% if !current_user %>
              <%= link_to 'Đăng nhập', new_user_session_path %>
            <% else %>
              <%= link_to 'Đăng xuất', destroy_user_session_path, method: 'delete' %>
              <%= current_user.name %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
