<!DOCTYPE html>
<html>
  <head>
    <title>GreenStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onLoad='notifyAll("<%= notice %>")'>
    
    <% if !current_user %>
      <%= link_to 'Đăng nhập', new_user_session_path %>
    <% else %>
      <%= link_to 'Đăng xuất', destroy_user_session_path, method: 'delete' %>
      <%= current_user.name %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
