<!DOCTYPE html>
<html>
  <head>
    <title>GreenStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= link_to 'Đăng ký', "#" %>
    <%= link_to 'Đăng nhập', "#" %>
=======
    
>>>>>>> tung_branch
    <%= yield %>
  </body>
</html>
